# SSH keys
.ssh/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# VHS inputs
visuals/
tapes/

# VHS generated output
gifs/

# Recycle bin
RECYCLE_BIN/

# Editor
.vscode/
.idea/
